*{
    box-sizing: border-box;
  } 
.nav{
    float: left;
    height: auto;
    padding: 10px;
}
.nav-item{
  margin-left: 5px;
  margin-right: 5px;
}
.nav-link{
  color: black;
  font-size: 40px;
}
.logo{
  float: left; 
  height: 80px;
  padding: 10px;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.col-md-12{
  text-align: center;
}
